$primary: #206E8C;
$secondary:#55CCD9;
$info: #C2F2ED;
$warning: #F2C744;
$danger: #F28D35;
$navbar-height: 80px;

h1, classic-title{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

p, classic-text{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
